*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'IBM Plex Serif', serif;
  background: #222;
  color: white;
  font-weight: 300;
  line-height: 1.6; }

.footer {
  grid-column: 3;
  grid-row: 1 / -1;
  background: #9a4411; }

.header {
  grid-column: 3;
  grid-row: 2;
  z-index: 2;
  background: #222; }

.primary {
  display: grid;
  grid-template-columns: 10% 65% 15% 10%;
  grid-template-rows: 20rem 24rem 57.5rem max-content; }
  @media only screen and (max-width: 75em) {
    .primary {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content; } }
  @media only screen and (max-width: 56.25em) {
    .primary {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content; } }
