// Here is the typography. I'm importing my font below and removing text-decoration from all links here.
// You can put other font-related things here. 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

a {
  text-decoration: none;
  color: $headerWhite;
  max-width: 100%;
  height: 100%;

  @include respond(tabLand) {
    width: 100%;
    height: 100%;
  }

  @include respond(phone) {
    width: 100%;
    height: 100%;
  }
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}