// Here's your variables. If you don't like the color of something put it here. This is what I used, but feel free
// To change it to fit your needs.
$red: #8f3a3a;
$darkRed: darken($red, 10%);
$lightGrey: #afadad;
$darkGrey: darken($lightGrey, 35%);
$skillsBlue: #2070d8;
$skillsDarkBlue: darken($skillsBlue, 20%);

$aboutPurple: #701853;
$aboutPurpleDark: darken($aboutPurple, 10%);
$homeGreen: #318131;
$homeGreenDark: darken($homeGreen, 12%);
$blogBrown: #5f3f39;
$footerOrange: #df6219;
$footerOrangeDark: darken($footerOrange, 15%);
$headerWhite: #e2e1e1;
$black: #1b1818;
$darkBorder: .2rem solid $black;