.about {
  background: $aboutPurpleDark;
  grid-column: 2;
  grid-row: 1 / -1;
  color: $headerWhite; // padding: 0 2.5rem  2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  box-shadow: -3.5px 0 0 0 black;
  font-size: 2rem;
  &-interests,
  &-past,
  &-future,
  &-random {
    padding: .5rem 1rem 1rem 1rem;
    @include respond(tabPort) {
      word-break: break-all;
      hyphens: auto;
    }
  }
  @include respond(tabPort) {
    grid-row: 2;
    grid-column: 1 / -1;
  }
  @include respond(tabLand) {
    grid-row: 2;
    grid-column: 1 / -1;
  }
  & h1 {
    text-align: center;
    text-decoration: underline;
  }
}