// For index.html. This is a 3 column layout, similar to _blog.scss. You (again) can change if need
// Or want.
.home {
  grid-column: 2;
  grid-row: 1 / -1;
  background: $homeGreenDark;
  color: $headerWhite;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: repeat(5, 15rem);
  box-shadow: -3.5px 0 0 0 black;
}