.home {
  grid-column: 2;
  grid-row: 1 / -1;
  background: $primaryColor;
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  // grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-template-rows: repeat(3, 1fr);
  font-size: 2.1rem;

  & h1 {
    padding-top: 1.5rem;
    text-align: center;
  }

  & p {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  &-one {
    margin-top: 1.1rem;
    padding: 1rem 1.1rem 0 1.1rem;
    grid-column: 2;
    grid-row: 1;
    background: rgba($footerOrangeDark, .9);
    box-shadow: 5px 5px black;

    &:hover {
      background: $red;
      transition: all .5s ease-in-out;
    }
  }

  &-two {
    margin-top: 1.1rem;
    padding: 1rem 1.1rem 0 1.1rem;
    grid-column: 2;
    grid-row: 2;
    background: rgba($footerOrangeDark, .9);
    box-shadow: 5px 5px black;

    &:hover {
      background: $red;
      transition: all .5s ease-in-out;
    }
  }

  &-three {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    padding: 1rem 1.1rem 0 1.1rem;
    grid-column: 2;
    grid-row: 3;
    background: rgba($footerOrangeDark, .9);
    box-shadow: 5px 5px black;

    &:hover {
      background: $red;
      transition: all .5s ease-in-out;
    }
  }

  @include respond(tabLand) {
    background: #1D0B38;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: repeat(3, 1fr);

    &-one,
    &-two,
    &-three {
      background: #66245b;

      &:hover {
        pointer-events: none;
      }
    }

    & h1 {
      text-align: center;
      grid-column: 2;
      font-size: 2.2rem;
      padding-top: 1rem;
    }

    & div {
      align-self: center;
      grid-column: 2;
      padding: 1.5rem 2.3rem 1.5rem 2.3rem;
    }

    & p {
      animation: slide 1s ease-in-out;
      font-size: 2rem;
      hyphens: auto;
      padding: 1.2rem 0 0 0;
      margin-bottom: 1rem;
    }
  }

  @include respond(phone) {
    background: $red;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: repeat(3, 1fr);

    &-one,
    &-two,
    &-three {
      margin-right: .95rem;
      background: $secondaryColorSmall;
      grid-column: 2;
      padding: 1rem 1.75rem 1rem 1.75rem;
      box-shadow: 5px 5px black;

      &:hover {
        pointer-events: none;
      }
    }

    & h1 {
      text-align: center;
      font-size: 2rem;
      padding: 1rem 1.5rem 0 1.5rem;
      grid-column: 2;
    }

    & p {
      animation: slide 1s ease-in-out;
      margin-bottom: 1rem;
      font-size: 1.65rem;
      hyphens: auto;
    }
  }
}