.footer {
  background: $footerOrangeDark;
  color: $headerWhite;
  grid-column: 3;
  grid-row: 1 / -1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  box-shadow: 3.5px 0 black;
}