// Header Component. This is on the right side, overlaying the footer on larger screens.
// On smaller screens, the header moves to the top and has 6 rows (7, technically). When a link
// Is active, the 'seventh' appears and the active link is moved to its location.
.header {
  grid-column: 3;
  grid-row: 2;
  z-index: 2;
  background: #222;
  display: grid;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  @include respond(tabLand) {
    grid-row: 1;
    grid-column: 1 / -1;
    grid-template-rows: repeat(6, max-content);
  }
  @include respond(tabPort) {
    grid-row: 1;
    grid-column: 1 / -1;
    grid-template-rows: repeat(6, max-content);
  }
  &-home {
    grid-row: 1;
    @include headerRoll;
    &:hover {
      background: $homeGreenDark;
    }
    &__active {
      background: $homeGreenDark;
      @include respond(tabLand) {
        grid-row: 7;
      }
      @include respond(tabPort) {
        grid-row: 7;
      }
    }
  }
  &-skills {
    grid-row: 2;
    @include headerRoll;
    &:hover {
      background: $skillsDarkBlue;
    }
    &__active {
      background: $skillsDarkBlue;
      @include respond(tabLand) {
        grid-row: 7;
      }
      @include respond(tabPort) {
        grid-row: 7;
      }
    }
  }
  &-about {
    grid-row: 3;
    @include headerRoll;
    &:hover {
      background: $aboutPurpleDark;
    }
    &__active {
      background: $aboutPurpleDark;
      @include respond(tabLand) {
        grid-row: 7;
      }
      @include respond(tabPort) {
        grid-row: 7;
      }
    }
  }
  &-portfolio {
    grid-row: 4;
    @include headerRoll;
    &:hover {
      background: $darkRed;
    }
    &__active {
      background: $darkRed;
      @include respond(tabLand) {
        grid-row: 7;
      }
      @include respond(tabPort) {
        grid-row: 7;
      }
    }
  }
  &-blog {
    grid-row: 5;
    @include headerRoll;
    &:hover {
      background: $blogBrown;
    }
    &__active {
      background: $blogBrown;
    }
  }
  &-contact {
    grid-row: 6;
    @include headerRoll;
    &:hover {
      background: $darkGrey;
    }
    &__active {
      background: $darkGrey;
      @include respond(tabLand) {
        grid-row: 7;
      }
      @include respond(tabPort) {
        grid-row: 7;
      }
    }
  }
}