.nav {
  grid-row: 2;
  grid-column: 3;
  z-index: 2;
  background: $primaryColor;
  display: grid;
  font-size: 3rem;
  text-align: center;
  justify-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;

  &-current {
    background: darken($primaryColor, 2.5%);
    color: $headerWhite;

    @include respond(tabLand) {
      background: #1D0B38;
    }

    @include respond(phone) {
      background: $red;
    }
  }


  @include respond(tabLand) {
    background: #66245B;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  @include respond(tabPort) {
    background: #66245B;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  @include respond(phone) {
    background: $secondaryColorSmall;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  &-home,
  &-portfolio,
  &-skills,
  &-contact {

    &:hover {
      background: darken($primaryColor, 2.5%);
      color: $headerWhite;
    }
  }

  &-home,
  &-portfolio,
  &-skills,
  &-contact {
    @include headerRoll;
    grid-column: 1;
    width: 100%;

    @include respond(tabLand) {
      &:hover {
        background: #1D0B38;
      }
    }

    @include respond(phone) {
      &:hover {
        @include headerColors;
        width: 100%;
      }
    }
  }

  // Media Queries for Landscape

  @include respond(tabLand) {
    &-home {
      grid-row: 1;
    }

    &-portfolio {
      grid-row: 2;
    }

    &-skills {
      grid-row: 3;
    }

    &-contact {
      grid-row: 4;
    }
  }

  @include respond(tabPort) {
    &-home {
      grid-row: 1;
    }

    &-portfolio {
      grid-row: 2;
    }

    &-skills {
      grid-row: 3;
    }

    &-contact {
      grid-row: 4;
    }
  }

  @include respond(phone) {
    &-home {
      grid-row: 1;
      grid-column: 1;
    }

    &-portfolio {
      grid-row: 1;
      grid-column: 2;
    }

    &-skills {
      grid-row: 1;
      grid-column: 3;
    }

    &-contact {
      grid-row: 1;
      grid-column: 4;
    }
  }
}