.nav {
  grid-row: 2;
  grid-column: 3;
  z-index: 2;
  background: $primaryColor;
  display: grid;
  font-size: 3rem;
  text-align: center;
  justify-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;

  &-slide {
    padding: 1rem 4rem 0 0;

    & svg {
      stroke: #66245b;
    }

    &__menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      background-color: #111;
      opacity: 0.9;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      display: grid;
      grid-row-gap: 8rem;
      grid-template-columns: 5rem 1fr 5rem;
      grid-template-rows: repeat(auto-fit, minmax(2rem, 4rem));

      & a {
        font-size: 2rem;
        grid-column: 2;
        height: 1rem;
        width: 1rem;
        padding: 1rem 5rem 0 0;
        justify-self: center;
      }
    }

    &__close {
      text-align: center;
      color: $headerWhite;
      background: #111;
      position: absolute;
      top: 0;
      right: .5rem;
      font-size: 4rem;
      margin-left: 7rem;

      &:hover {
        animation: pulsate .5s infinite;
      }
    }

    &:hover {
      animation: pulsate .5s infinite;
    }
  }

  &-current {
    background: darken($primaryColor, 2.5%);
    color: $headerWhite;

    @include respond(tabLand) {
      background: #1d0b38;
    }

    @include respond(phone) {
      background: $red;
    }
  }

  @include respond(tabLand) {
    background: #1d0b38;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    // box-shadow: 1.5px 1.5px 1.5px black;
  }

  @include respond(phone) {
    background: $secondaryColorSmall;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  &-home,
  &-portfolio,
  &-skills,
  &-contact {
    &:hover {
      background: darken($primaryColor, 2.5%);
      color: $headerWhite;
    }
  }

  &-home,
  &-portfolio,
  &-skills,
  &-contact {
    @include headerRoll;
    grid-column: 1;
    width: 100%;

    @include respond(tabLand) {
      &:hover {
        background: #1d0b38;
      }
    }

    @include respond(phone) {
      &:hover {
        @include headerColors;
        width: 100%;
      }
    }
  }

  // Media Queries for Landscape

  @include respond(tabLand) {
    .nav-primary {
      display: none;
    }

    &-home {
      grid-row: 1;
    }

    &-portfolio {
      grid-row: 2;
    }

    &-skills {
      grid-row: 3;
    }

    &-contact {
      grid-row: 4;
    }
  }

  @include respond(tabPort) {
    .nav-primary {
      display: none;
    }

    &-home {
      grid-row: 1;
    }

    &-portfolio {
      grid-row: 2;
    }

    &-skills {
      grid-row: 3;
    }

    &-contact {
      grid-row: 4;
    }
  }

  @include respond(phone) {
    .nav-slide {
      display: none;
    }

    .nav-primary {
      display: grid;
    }

    &-home {
      grid-row: 1;
      grid-column: 1;
    }

    &-portfolio {
      grid-row: 1;
      grid-column: 2;
    }

    &-skills {
      grid-row: 1;
      grid-column: 3;
    }

    &-contact {
      grid-row: 1;
      grid-column: 4;
    }
  }
}

@media (min-width: 1200px) {
  .nav-slide {
    display: none;
  }
}