.nav {
  grid-row: 2;
  grid-column: 3;
  z-index: 2;
  background: $primaryColor;
  display: grid;
  font-size: 3rem;
  text-align: center;
  justify-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;

  &-slide {
    padding: 1rem 2.5rem 0 0;
  }

  &-current {
    background: darken($primaryColor, 2.5%);
    color: $headerWhite;

    @include respond(tabLand) {
      background: #1D0B38;
    }

    @include respond(phone) {
      background: $red;
    }
  }


  @include respond(tabLand) {
    background: #1D0B38;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    // box-shadow: 1.5px 1.5px 1.5px black;
  }

  @include respond(phone) {
    background: $secondaryColorSmall;
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  &-home,
  &-portfolio,
  &-skills,
  &-contact {

    &:hover {
      background: darken($primaryColor, 2.5%);
      color: $headerWhite;
    }
  }

  &-home,
  &-portfolio,
  &-skills,
  &-contact {
    @include headerRoll;
    grid-column: 1;
    width: 100%;

    @include respond(tabLand) {
      &:hover {
        background: #1D0B38;
      }
    }

    @include respond(phone) {
      &:hover {
        @include headerColors;
        width: 100%;
      }
    }
  }

  // Media Queries for Landscape

  @include respond(tabLand) {
    .nav-primary {
      display: none;
    }

    &-home {
      grid-row: 1;
    }

    &-portfolio {
      grid-row: 2;
    }

    &-skills {
      grid-row: 3;
    }

    &-contact {
      grid-row: 4;
    }
  }


  @include respond(tabPort) {
    .nav-primary {
      display: none;
    }

    &-home {
      grid-row: 1;
    }

    &-portfolio {
      grid-row: 2;
    }

    &-skills {
      grid-row: 3;
    }

    &-contact {
      grid-row: 4;
    }
  }


  @include respond(phone) {
    .nav-slide {
      display: none;
    }

    .nav-primary {
      display: grid;
    }

    &-home {
      grid-row: 1;
      grid-column: 1;
    }

    &-portfolio {
      grid-row: 1;
      grid-column: 2;
    }

    &-skills {
      grid-row: 1;
      grid-column: 3;
    }

    &-contact {
      grid-row: 1;
      grid-column: 4;
    }
  }
}

.slide {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side a:hover {
  color: #fff;
}

.side .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

// @media(max-width: 601px) {
//   .nav-slide {
//     display: none;
//   }
// }

// @media(min-width: 601px) {
//   .nav-primary {
//     display: none;
//   }

//   .nav-slide {
//     display: inline-block;
//   }
// }

@media(min-width: 1200px) {
  .nav-slide {
    display: none;
  }
}

.path {
  stroke: #66245B;
}

.abc {
  stroke: black;
}

//   .nav-primary {
//     display: grid;
//   }
// }

// @include respond(tabLand) {
//   .nav-primary {
//     display: none;
//   }
// }

// @include respond(phone) {
//   .nav-slide {
//     display: none;
//   }
// }