// This is the primary layout of the website. If you look in each .html file, it will be wrapped in a div
// with the class primary. That's this.
.primary {
  display: grid;
  grid-template-columns: 10% 65% 15% 10%;
  grid-template-rows: 20rem 24rem 57.5rem max-content;
}

.left {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 100%;
}

// .right {
//   grid-column: 4;
//   grid-row: 1 / -1;
//   height: 100%;
// }

// What I should do in the future is put all the layout stuff for each page in this folder then add stuff in 
// the pages folder specific to the pages that isn't layout information